body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: center;
}
.logo img {
  width: 25%;
}
.container {
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 40px;
 
}
.container .personagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 625px;
}
.container .personagens .titulo {
  font-size: 20px;
  letter-spacing: 4px;
  border-bottom: 3px solid var(--laranja);
  margin-bottom: 50px;
  text-align: center;
}
.personagens .lista-de-personagens {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.personagens .lista-de-personagens img {
  width: 150px;
  height: 150px;
  box-shadow: 3px 2px 10px 5px var(--sombra);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.container .personagem-selecionado {
  text-align: center;
  max-height: 500px;
  max-width: 500px;
}
.lista-de-personagens .personagem.selecionado {
  box-shadow: 0px 0px 24px 5px var(--sombra-cinza);
  transition: 0.5s ease-in-out;
}

.personagem-selecionado img {
  width: 200px;
}
.personagem-selecionado .nome-personagem {
  width: 40%;
  margin: auto;
  border-bottom: 3px solid var(--laranja);
  letter-spacing: 4px;
  text-transform: uppercase;
}
.informacoes-personagem .descricao-personagem {
  font-size: 17px;
  max-width: 60%;
  margin: 30px auto;
}

