@media (max-width: 1024px) {
  .logo img {
    width: 35%;
  }
  .container {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .personagem-selecionado {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .container .personagens {
    margin: 40px auto;
  }
}
@media (max-width: 800px) {
  .logo img {
    width: 45%;
  }
}

@media (max-width: 425px) {
  .logo img {
    width: 65%;
  }
  .container .personagens .titulo{
    font-size: 16px;
    width: 66%;
    
  }
  .personagem-selecionado img {
    width: 150px;
  }
  .lista-de-personagens .personagem img {
    width: 100px;
    height: 100px;
  }
  .personagem-selecionado .descricao-personagem {
    max-width: 300px;
  }
}
