:root {
  --amarelo: hsl(52, 94%, 62%);
  --vermelho: #dc1e10;
  --azul: #3c5dfe;
  --verde: #2c964c;
  --roxo: #bb6ff1;
  --laranja: #ffa500;
  --sombra-cinza: rgb(146, 146, 146);
  --sombra: rgba(0, 0, 0, 0.29);
}
